.cyber-divider{
  font-size: 0;
  height: 20px;
  background-size: contain;
  position: relative;
  margin: -10px 0;
}
.t-b{
  background-image: url("../assets/top-black.svg");
}
.t-y{
  background-image: url("../assets/top-yellow.svg");
}
.b-b{
  background-image: url("../assets/bottom-black.svg");
}
.b-y{
  background-image: url("../assets/bottom-yellow.svg");
}
